/*Mobile*/
@media(max-width: 480px) {
    /*Colours*/
  html {
    background: url(images/pattern-background-mobile.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  *, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
  }

  div{
    margin: 0 auto;
  }

  .main-container {
    width: 320px;
    height: 580px;
    padding-left: 0px;
    margin: 40px auto;
    text-align: center;
    border-collapse: separate;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  .img-container {
    width: 320px;
    height: 156.44px;
  }

  .img-container img {
    width: 320px;
    border-radius: 10px 10px 0px 0px;
  }

  #h1 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 1.2px;
    font-size: 1rem;
  }

  .paragraph > p{
    opacity: 0.4;
    font-size: 1rem;
    width: 320px;
    padding-left: 25px;
    padding-right: 27px;
  }

  .annual-plan > span{
    display:inline-block;
  }

  .annual-plan{
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 300px;
  }

  .music-icon{
    padding-right: 10px;
  }

  .details{
    padding-left: 10px;
    padding-right: 10px;
  }

  .change {
    margin-left: 30px;
  }

  .change a{
    position: relative;
    bottom: 20px;
  }

  #plan {
    position: relative;
    top: 15px;
    font-weight: 900;
  }

  .details:not(:last-child){
    position: relative;
    bottom: 10px;
  }

  .payment-btn, .cancel-btn{
    text-align: center;
    margin-bottom: 10px;
  }

  .payment-btn button {
    background-color: hsl(245, 75%, 52%);
    border-radius: 7px;
    border: none;
    width: 280px;
    height: 45px;
    color: white;
    font-weight: 900;
  }

  div.payment-btn{
    width: 280px;
    padding-top: 30px;
  }

  .cancel-btn button {
    width: 280px;
    height: 45px;
    border: none;
    border-radius: 7px;
    width: 280px;
    font-weight: 900;
    opacity: 0.5;
  }

  div.cancel-btn{
    width: 280px;
    padding-top: 5px;
  }
}
/*-------------------------------------------------------------------------------------------*/
/*Desktop*/
@media (min-width: 1025px) and (max-width: 1440px){
  /*Colours*/
  html {
    font-size: 100%;
    width: 100%;
    background: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  *, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
  }

  div{
    margin: 0 auto;
  }

  .main-container {
    width: 320px;
    height: 580px;
    padding-left: 0px;
    margin: 40px auto;
    text-align: center;
    border-collapse: separate;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  .img-container {
    width: 320px;
    height: 156.44px;
  }

  .img-container img {
    width: 320px;
    border-radius: 10px 10px 0px 0px;
  }

  #h1 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 1.2px;
    font-size: 1rem;
  }

  .paragraph > p{
    opacity: 0.4;
    font-size: 1rem;
    width: 320px;
    padding-left: 25px;
    padding-right: 27px;
  }

  .annual-plan > span{
    display:inline-block;
  }

  .annual-plan{
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 300px;
  }

  .music-icon{
    padding-right: 10px;
  }

  .details{
    padding-left: 10px;
    padding-right: 10px;
  }

  .change {
    margin-left: 30px;
  }

  .change a{
    position: relative;
    bottom: 20px;
  }

  #plan {
    position: relative;
    top: 15px;
    font-weight: 900;
  }

  .details:not(:last-child){
    position: relative;
    bottom: 10px;
  }

  .payment-btn, .cancel-btn{
    text-align: center;
    margin-bottom: 10px;
  }

  .payment-btn button {
    background-color: hsl(245, 75%, 52%);
    border-radius: 7px;
    border: none;
    width: 280px;
    height: 45px;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }

  div.payment-btn{
    width: 280px;
    padding-top: 30px;
  }

  .cancel-btn button {
    width: 280px;
    height: 45px;
    border: none;
    border-radius: 7px;
    width: 280px;
    font-weight: 900;
    opacity: 0.5;
    cursor: pointer;
  }

  div.cancel-btn{
    width: 280px;
    padding-top: 5px;
  }

  .payment-btn button:hover, .change a:hover {
    opacity: 0.6;
  }

  .cancel-btn button:hover{
    color: black;
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
  }
}